<footer>
    <div class="box-footer">

        <div class="box-footer-contact">
            <p>Wir helfen gerne!</p>
            <p>Support / Kundenservice</p>
        </div>
        <div class="box-footer-contact">
            <p>Über uns</p>
            <p></p>
        </div>
        <div class="box-footer-contact">
            <p>Kontakt</p>
            <p>Social Media</p>
        </div>
        <div class="box-footer-contact">
            <p>Impressum</p>
            <p>Datenschutz</p>
        </div>
    </div>
</footer>