<div class="content">
    <div class="box-h-produkt">
        <p class="h1-product">Produktübersicht</p>
        <p class="h2-product">Alle über den Geoshop bestellbaren GeoBasisdaten-Produkte stehen flächendeckend für das
            Verbandsgebiet und tagesaktuell zur Verfügung.</p>
    </div>


    <div class="box-content-products">

        <div class="content-product">
            <div>
                <p class="p-content-produkt-name">ALKIS-Daten</p>
            </div>
            <div>
                <p class="p-content-product-description">ALKIS-Daten</p>
            </div>
        </div>
        <div class="content-product">
            <div>
                <p class="p-content-produkt-name">ALKIS-Daten im NAS-Format</p>
            </div>
        </div>
        <div class="content-product">
            <div>
                <p class="p-content-produkt-name">ALKIS-Daten im Raster Format</p>
            </div>
        </div>
        <div class="content-product">
            <div>
                <p class="p-content-produkt-name">Liegenschaftskarten (nicht amtlich)</p>
            </div>
        </div>
        <div class="content-product">
            <div>
                <p class="p-content-produkt-name">ALKIS-Daten</p>
            </div>
        </div>
        <div class="content-product">
            <div>
                <p class="p-content-produkt-name">ALKIS-Daten im NAS-Format</p>
            </div>
        </div>
        <div class="content-product">
            <div>
                <p class="p-content-produkt-name">ALKIS-Daten im Raster Format</p>
            </div>
        </div>
        <div class="content-product">
            <div>
                <p class="p-content-produkt-name">Liegenschaftskarten (nicht amtlich)</p>
            </div>
        </div>

    </div>
</div>