
<app-menu></app-menu>
<div class="site-position">
<div>

    <app-content-products class="app-content-products"></app-content-products>
</div>
</div>
Í

<app-footer></app-footer>


<!--
    <app-sidenav></app-sidenav>




<div class="site-position">

<app-sidebar></app-sidebar>
    <app-map></app-map>

</div>



<mat-grid-list cols="4" rowHeight="10:1">
    <mat-grid-tile colspan="4" rowspan="3">
        <app-menu></app-menu>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="22">
        <app-sidenav></app-sidenav>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="22">
        <app-content-products></app-content-products>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="3">
        <app-footer></app-footer>
    </mat-grid-tile>
  </mat-grid-list>




-->