.bg-map {


	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	position: relative;
  	background: url(/assets/img/bg/map.png) center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
}

#bg-map-1{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}