
.sidebar{
    width: 500px;
    background-color: #ffffff;
    position: absolute;
    z-index: 10000;
    height: 100vh;
    padding: 50px;
    padding-top: 100px;
    padding-right: 0px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2)  ; 
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2)  ; 
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2)  ; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box-sidebar-left{
    width: 400px;
    margin-right: 20px;
}

.box_sidebar_arrow{
    border-left: 2px solid #e9eaec;
    justify-content: center;
    height: 25%;
    margin: auto 0%;
    width: 27px;
}

.h-sidebar{
    color: #2d3447;
    font-family: FiraGo-Book;
    font-size: 1.6em;
    padding-bottom: 20px;
}

.parameter{
    padding-top: 20px;
    padding-bottom: 20px;
}


.h-parameter{
    color: #2d3447;
    font-family: FiraGo-Light;
    font-size: 1.1em;
}

.p-parameter{
    color: #a6aab2;
    font-family: FiraGo-Light;
    font-size: 0.8em;
    padding: 5px;
    padding-left: 28px;
}


.options-parameter{
    list-style: none;
    padding-left: 28px;
    display: flex;
    flex-direction: row;
    justify-content: left;    
}


.box-text-parameter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

.boxParameterTextChange{
    width: 70px;
}

.parameterTextChange{
    text-align: center;
    color: #2d3447;
    border-bottom: 2px solid #a6aab2;
    padding-bottom: 5px;
}

.options-parameter button{
    border: none;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #a6aab2;
    border-radius: 3px;
    color: #ffffff;
    font-size: 0.8em;
}

.options-parameter button:hover{
    background-color: #2d3447;
}

.gray{
    background-color: #a6aab2;
}

.dark-blue{
    background-color: #2d3447;
}

/* Checkbox style for main parameter*/

input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked)
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label{
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after{
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #921f1b;
    border-bottom: 4px solid #921f1b;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after{
    opacity: 0;
}

input[type="checkbox"]:checked + label:after{
    opacity: 1;
}




.mat-button-toggle{
    background-color: #ebebeb;
    border-left: 1px solid #ffffff;
}

.mat-button-toggle-checked{
    background-color: #2979FF;
    color: white;
  } 