<div class="sidebar">
    <div>
        <p class="h-sidebar">
            Meteorologische Parameter als Zeitserie
        </p>
    </div>

    <hr>

    <div class="parameter">

        <div class="text-parameter">
            <input type="checkbox" id="cb1"> 
            <label for="cb1" class="h-parameter">Windgeschwindigkeit</label>
            <div class="p-parameter">Höhenwind</div>
        </div>

        <div class="box-options-parameter">
            <div class="options-parameter">
                <button class="button-option-parameter">m/s</button>
                <button class="button-option-parameter">km/h</button>
                <button class="button-option-parameter">Beaufort</button>
            </div>
        </div>

    </div>

    <hr>

    <div class="parameter">

        <div class="text-parameter">
            <input type="checkbox" id="cb2"> <label for="cb2" class="h-parameter">Druck auf Meereshöhe</label>
            <div class="p-parameter">Auf Meersehöhe reduzierter Druck</div>
        </div>
        <div class="options-parameter">

        </div>

    </div>


    <div class="parameter">

        <div class="text-parameter">
            <input type="checkbox" id="cb3"> <label for="cb3" class="h-parameter">T_M2</label>
            <div class="p-parameter">Temperatur in 2m über Grund</div>
        </div>
        <div class="options-parameter">

        </div>

    </div>



</div>