/* You can add global styles to this file, and also import other style files */



    @font-face {
		font-family: FiraGo-Book;
		src: url(/assets/Fonts/FiraGO_OTF_1001/Roman/FiraGO-Book.otf);
	}
	
	@font-face {
		font-family: FiraGo-Heavy;
		src: url(/assets/Fonts/FiraGO_OTF_1001/Roman/FiraGO-Heavy.otf);
	}
	
	@font-face {
		font-family: FiraGo-Light;
		src: url(/assets/Fonts/FiraGO_OTF_1001/Roman/FiraGO-Light.otf);
	}
	
	@font-face {
		font-family: FiraGo-Bold;
		src: url(/assets/Fonts/FiraGO_OTF_1001/Roman/FiraGO-Bold.otf);
	}

  @font-face {
		font-family: FiraGo-ExtraLightItalic;
		src: url(/assets/Fonts/FiraGO_OTF_1001/Italic/FiraGO-ExtraLightItalic.otf);
	}


    *{
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        font-family: FiraGo-Light;
        }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
