<div class="menu-box">

        <div class="menu-box-left">
            <div class="logo-box">
                <img class="logo" src="/assets/img/icon/CISS-Signet-red.svg" alt="Logo">
            </div>
            <div class="p-box-logo">
                <p class="p-logo">CISS Shop</p>
            </div>
        </div>

        <div class="menu-box-center">
            <div class="box-search-bar">
                <form class="example" action="action_page.php">
                    <input type="text" placeholder="Suchen..." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>

        <div class="menu-box-right">

        </div>
    </div>